body {
  background-image: url("bg.jpeg");
}
button{
    width: 250px;
    height: 70px;
    background-color: whitesmoke;
    color: gold;
    font-size: 18px;
    border-radius: 40px ;
    display: block;
  margin: 0 auto;
  cursor: pointer;
    
}
p {text-align: center
    ;
font-size: 32px;}