 body {background-color:rgb(233, 197, 197);}
           h1{
            color:white;
            text-align:center;}
           p{
            text-align:right;
            font-size:50px;
            color:rgb(85, 4, 4);}
         body  {
            align-items: center;
                font-size:40px;
                text-align:right;
                color:rgb(129, 6, 23);
            -ms-ime-align: calc(44);}

            img {width: 600;
            border-radius: 60px ;}
      

            button {background-color:rgb(200, 104, 104);
            color:white;
            border: none ;
             width: 250;
             height: 55;
             font-size: 22px;
            border-radius: 12px;
             cursor:pointer; }

             button:hover { background-color :black}